.slide-features
{
    display: block;
    text-transform: uppercase;
    font-size: 19px;
}
.slide-tagline
{
    display: block;
    margin-bottom: 10px;
}
.slide-features i
{
    font-size: 10px;
        margin: 0px 7px;
}
.slider-features
{
    text-transform: uppercase;
    font-size: 19px;
    line-height: 40px;
}
.font-16
{
    font-size: 16px!important;
}
.big
{
    font-size: 35px;
}
.mob-big
{
    font-size: 45px;
}
.margin-left-10
{
    margin-left: 10px;
}
.margin-left-0
{
    margin-left: 0px;
}
.section-heading
{
    font-family: "Segoe UI","wf_segoe-ui_normal","Arial",sans-serif;
    font-weight: 300!important;
    font-size: 30px!important;
}
.section-subheading
{
    font-family: "Segoe UI","wf_segoe-ui_normal","Arial",sans-serif;
    font-weight: 300!important;
    font-size: 18px!important;
    line-height: 28px;
}
.section-footer-heading
{
    font-family: "Segoe UI","wf_segoe-ui_normal","Arial",sans-serif;
    font-weight: 400!important;
    margin-bottom: 10px;
    font-size: 17px;
}
.left-text-align
{
    text-align: left!important;
}
.black-text
{
    color:#000!important;
}
.white-text
{
    color:#fff!important;
}
#leftHalf1 {
    /*background-color: #fafafa;*/
    width: 70%;
    display: inline;
    float: left;
    left: 0px;
    height: 100%;
}
#rightHalf1{
    /*background: url(../images/home-about/web-design.png) no-repeat left top fixed;*/
    /*background-color: #fafafa;*/
    width: 30%;
    display: right;
    float: right;
    right: 0px;
    height: 100%;
    text-align: right;
}

#rightHalf2{
    width: 30%;
    display: left;
    float: left;
    left: 0px;
    height: 100%;
    text-align: left;
}
#leftHalf2{
    width: 70%;
    display: inline;
    float: right;
    right: 0px;
    height: 100%;
}

.background_color_footer
{
    background: #eaeaea;
}
.p-footer a
{
    color: #d8d8d8;
}
.header-label
{
    /*background-color: #da542c;*/
    /*background-color: #F44336;*/
    background-color: #e1564c;
    padding: 34px;
}
.header-label-text
{
    color: #fff;
    line-height: 43px;
    font-size: 38px;
    font-weight: 100;
}
.mobile-view
{
    display: none;
}
.footer-social
{
    margin-top:10px;
}
.carousel-control .fa
{
    line-height: 2!important;
}
.second-header
{
    -webkit-margin-before: -6px!important;
    -webkit-margin-after: -6px!important;
}
#home
{
    /*margin-top: 80px!important;*/
}
@media (min-width: 1200px)
{
    .recent-post{
        margin-top: 68px;
    }
    .controls-row [class*="span"] + [class*="span"]
    {
        margin-left: 0px!important;
    }
}
@media screen and (max-width:1150px)
{
    .align-center
    {
        text-align: center;
        line-height: 30px;
        width: 100%;
    }
    .display-res
    {
        display: block;
        text-align: center;
    }
    .p-footer{
        padding: 12px;
    }
    .display-none
    {
        display: none;
    }
    .r-slide-bar #menuToggle
    {
        margin-right: 0px;
        position: fixed;
        right: 20px;
    }
   .no-responsive
   {
      display: none!important;
   }
   .mobile-view
   {
       display: block!important;
   }
   .top-fixed
   {
       display: none;
   }
   .p-header
   {
       top:0px!important;
   }
   #home, .page-cover
   {
       margin-top: 80px;
   }
   .p-menu-nav ul li
   {
       float: right;
       margin-right:
   }
   .p-menu-nav ul
   {
       margin-right: 55px;
   }
   .modal.fade.in
   {
       top:10%;
   }
   .zls-small, .zls-btnmn, .zls-btrht
   {
       display:none!important;
   }
}

.p-menu-nav-second
{

}
.margin-bottom-20{
    margin-bottom: 20px;
}
.margin-b-25{
    margin-bottom: 25px;
}
.demo-2{
        border: 1px solid #b9b9b9;
}
.center-block p{
    margin-right:30px;
}
.job-section{
    padding: 20px 0 55px 0px;
}
.feature-section:before
{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.60);
}
.margin-0{
    margin:0px;
}
.job-para{
    padding: 25px;
}
.solution{
    display: block !important;
    margin-bottom: 20px;
    text-align: center;
    border: #2098D1 solid 1px;
}
.solution p{
    color: #fff;
    padding: 13px;
    background-color: #0067B8;
}
.solution-section{
    padding: 45px 0!important;
}
/*TestimonialSlider*/
.testimonial-slider blockquote{
     border-left: none;
     margin-bottom: 0px;
}
.testimonial-slider .column{
    width: 50%;
    display: block;
}
.testimonial-slider .photo-bg{
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}
.testimonial-slider p{
    color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 33px;
    font-family: "open-sans",sans-serif;
    font-weight: 400;
}
.testimonial-slider hr{
    width: 24%;
    margin: auto;
    border: solid 1px rgba(255,255,255,.55);
}
#slide-1 .photo-bg{
    background-image: url(../images/common-img/test1.jpg);
}
#slide-1{
    background: #f27242!important;
}
#slide-2{
    background: #482B62!important;
}
#slide-3{
    background: #1e8ad2!important;
}
#slide-4{
    background: #198c58!important;
}
#slide-5{
    background: #482B62!important;
}
#slide-6{
    background: #f27242!important;
}
#slide-7{
    background: #198c58!important;
}
.share-idea{
    background-color: #056ab2!important;
    padding: 75px!important;
}
.dark-bg{
    background: #359ae2;
    padding: 20px;
}
.dark-bg p, .dark-bg h2, .dark-bg ul li{
    color: #fff;
}
.dark-bg ul li{
    list-style-type: disc;
}
.dark-bg ul{
    margin-left: 20px;
}
.service-box{
    outline: 1px solid white !important;
    outline-offset: -15px !important;
}
figure{
    display: block;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
}
.pos-tb-center {
    text-align: center;
    position: absolute !important;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    color: #fff !important;
}
.pos-tb-center h3{
    line-height: 40px;
    background: url(../images/common-img/center-style.png) center bottom no-repeat;
}
.pos-tb-center p{
    padding: 6px;
    margin: 7px 20px;
    background-color: rgba(0,0,0,0.5);
}
.pos-tb-center h3, .pos-tb-center p{
    color: #fff;
}
.testmonial-content{
    margin: 100px 0px 0px 0px;
}
.testmonial-content p{
    padding: 15px;
}
.testimonial-name{
    padding: 20px;
    font-size: 25px;
    color: #fff;
}
.testimonial-name span{
    display: block;
    line-height: 40px;
}
.slider-active-arrow{
    position: absolute;
    width: 100%!important;
    bottom: 0;
    height: 33px;
    overflow: hidden;
}
.slider-active-arrow .container1{
    background-position: -55px 0;
    height: 33px;
    background-image: url(../images/active-arrow.png);
    background-repeat: no-repeat;
    background-position: -80px 0;
    position: relative;
}
.test-slider-section h4{
    margin: 60px;
    text-align: center;
    font-size: 40px;
}
.what-border-b{
    width: 20%;
    margin: 0 auto;
    border: solid 1px #cacaca;
}
/**FOr contact page*/
.send-message-bg .contact1{
    position: relative;
    z-index: 200;
}
.contact-container, .contact-map{
    padding-right: 0px!important;
    padding-left: 0px!important;
}
.contact-container{
    margin:50px 0 0 0;
}
.contact-map .map-home{
    height: 360px!important;
}
.address-col-1{
    position: relative;
    padding: 27px 35px 25px;
    background: #edf5f8;
}
.address-col-1 .span6{
    /*margin-left: 0!important;*/
}
.address-col-2{
    position: relative;
    padding: 27px 35px 25px;
    background: #59c21f;
    color: #ffffff;
}
.address-col-2 h3{
    color: #fff;
}
.address-col-2 address{

}
.address-col-2 address span{
    display: block;
    padding: 6px 0px;
}
.margin-t-50{
    margin-top: 50px;
}
.tiltview img{
    border-radius: 7px;
}
.pro-title-bg{
    background-color: #7966ba;
    padding: 50px;
}
.pro-title-bg p{
    font-size: 19px;
    font-weight: 300;
}
.pro-title-bg h2{
    font-weight: 300;
}
.pro-title-bg p, .pro-title-bg h2{
    color: #fff;
}
.product-desc-sec{
    background: #056ab2;
    min-height: 370px;
    color: #fff;
}
.product-desc-sec h3, .product-desc-sec p{
    color: #fff;
}
.next-sec h3{
    color: #ffffff!important;
    background-color: #2986E2!important;
    display: inline-block!important;
    padding: 24px!important;
}
.next-to-next{
    background: #056ab2;
    min-height: 370px;
    color: #fff;
}
.next-to-next h3, .next-to-next p{
    color: #fff;
}
.new-shadow{
    -webkit-box-shadow: -4px 0px 22px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: -4px 0px 22px 0px rgba(0,0,0,0.25);
    box-shadow: -4px 0px 22px 0px rgba(0,0,0,0.25);
    padding: 25px;
}
.img-style{
    margin: 20px -25px;
}
.img-style1{
    margin: 20px 38px;
}
.margin-left-r-45{
    margin-left: -45px;
}
.btn{
    background: #2986e2!important;
    color: #fff!important;
}
.bullet_process li:first-child{
    margin-left: 0px;
    padding: 8px;
}
.bullet_process li{
    margin-left: 1%;
    line-height: 30px!important;
    letter-spacing: inherit!important;
}
.bullet_detail li{
    margin-bottom: 0px!important;
}

@media (max-width: 767px)
{
    /* Project Description */
    .previous-project, .next-project{
        float: left!important;
    }
    .previous-project span, .next-project span, .product-block-text, .product-block-img{
        width: 100%!important;
    }
    .next-project-bar:first-child{
        margin-top: 80px!important;
    }
    .margin-t-80{
        margin-top: 80px;
    }
    .slideshow{
        display: none;
    }
    .section-space{
        margin-bottom: 25px;
    }
    .leftslider-img-block{
        height: auto;
    }
    .p-leftslider-img{
        position: relative;
    }
    .product-block-text{
        padding: 20px;
    }
    /* Project Description */
    .r-slide-bar #menuToggle{
        display: none;
    }
    .mobile-view .r-slide-bar #menuToggle{
        display: inline-block;
    }
    #leftHalf1 {
        /*background-color: #fafafa;*/
        width: 100%;
        float: none;
        height: 100%;
    }
    #rightHalf1{
        display: none;
    }

    #rightHalf2{
        display: none;
    }
    #leftHalf2{
        width: 100%;
        padding: 20px;
        height: 100%;
        float: none;
    }
    #web-dev, #web-design{
        padding: 30px 20px;
    }
    .ca-menu{
        width: 100%;
    }
    .margin-left-10{
        margin-left: 0px;
    }
    .header-label-text {
        line-height: 25px!important;
        font-size: 20px!important;
        font-weight: 100!important;
    }
    .header-label{
        margin-top: 80px;
        padding: 20px!important;
    }
    #home{
        display: none;
    }
    .second-header li:nth-child(1) a{
        border-right: none;
    }
    .second-header li:nth-child(2) a{
        border-right: solid 1px #797979;
    }
    /* Responsive for service page css*/
    #services-block .span4{
        margin-bottom: 25px!important;
    }
    #services-block .row-fluid [class*="span"]{
        margin-left: 0!important;
    }
    #services-block .margin-b-25{
        margin-bottom: 0px!important;
    }
    /* Responsive for service page css*/
    /* For Testimonial page */
    .share-idea{
        padding: 20!important;
        margin-top: 0!important;
    }
    .testmonial-content {
        margin: 30px 0px 0px 0px;
    }
    /* For Testimonial page */
    /*For contact form*/
    .manifestform{
        margin-left: 0!important;
    }
    .address-col-2{
        padding: 27px 35px 44px!important;
    }
    #send-magssage .row{
        margin-bottom: 0px!important;
    }
    .send-message-bg .contact1{
        padding-bottom: 20px!important;
    }
    .contact1 .row:last-child{
        margin-top: 10px!important;
    }
    /* For contact form*/
}
