@charset "utf-8";
/* CSS Document */

.mega-dropdown { 
	position: static !important;
}
.mega-dropdown-menu {
  background: url(../img/submenu14.jpg) no-repeat #CCC;
  padding: 10px 20px 15px 0px;
  text-align: center;
  width:100%;
  border: none; 
}
.cutumize_menu {
  background-clip: padding-box;
  background: #FFF;
  border-radius: 0px;
  float: left;
  left: 0;
  list-style: outside none none;
  margin-top: -2.5%;
  min-width: 160px;
  position: absolute;
  top: 100%;
  z-index: 1000;
  box-shadow: 0 0 0 0 #F2F2F2 inset;
  border-top: #056AB2 4px solid ;
  border-bottom: #056AB2 4px solid ;
}
.size_cutomize{
	max-width: 65%;
	margin-left: 8.5%;
	background: url(../img/blog/mobileapp.jpg) no-repeat center;
	
}
.about_menu ul{
	margin-left: 0px;
	padding-left: 0px;
	
}
.about_menu ul li a{
	padding: 3% 0%;
	display: block;
	margin-left: 0px;
	padding-left: 0px;
	text-transform: lowercase;
	transition: all 0.5s ease 0s;
	border: 1px solid #06C;
	font-size: 16px;
}
.About_bootum{
	padding: 0% 0% 0% 0%;
	font-size: 18px;
	text-transform: uppercase;	
}
.about_menu ul li a:hover{
	color: #FFF; 
	transition: all 0.5s ease 0s;
	background-color:#056ab2;
	text-decoration: none;
	text-transform: uppercase;	
}	
/*02/04/2014*/
.full_width{
	width: 96%;
	padding-left: 25px;
}
.about_men_vi{
	float: left;
	width:30%;
	background-color: #0058B0;
	padding-top: 2%;
	padding-bottom: 2%;
	box-shadow: #999 0px 1px 3px;
}
.whyus_do{
	float: left;
	width: 35%;
	background-color: #F2F5F9;
	margin: 0px 0px 5px 2px;
	padding-bottom: 27.9%
}
.procee_method{
	float: left;
	width: 30%;
	background: url('../img/webdevelop%20Detail/PhpDevelopment.jpg') no-repeat center; 
	background-color: #333;
	padding-bottom: 9.8%;
	padding-top: 2%;
	box-shadow: #999 0px 1px 3px;
}
.About_bootum{
	background-color: #DCE6EF;
	color: #666;
}